body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    background: url(pic3.webp) no-repeat center center/cover;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .section {
    padding: 50px;
    text-align: center;
  }
  
  #home {
   
    color: #fff;
  }
  
  #home h1 {
    font-size: 3rem;
  }
  
  #home p {
    font-size: 1.5rem;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .service-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .service-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 30%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  form input,
  form textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  